body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5D5ED;
}
.container {
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
      "timer"
      "controls"
      "input"
      "output";
}

.timer-container {
    grid-area: timer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 120px;
    color: #D991BA;
    user-select: none;
}

.controls-container {
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    grid-area: input;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.output-container {
    grid-area: output;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'La Belle Aurore', cursive;
    font-size: 120px;
}

.digit {
    width: 90px;
    height: 30px;
    text-align: center;
    color: #AAA;
    user-select: none;
}

.character {
    display: block;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 1px solid #F5D5ED;
    text-align: center;
    margin-left: -1px;
    font-size: 50px;
    background-color: #EBB9DF;
    color: #555;
}

.space {
    margin-right: 30px;
}

.button {
    background-color: #7371FC;
    border:1px solid  #717FFC;
    padding: 10px;
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;
    color: #D5D2FF;
    user-select: none;
    font-family: 'Share Tech Mono', monospace;
}

#pause-button {
    display:none;
}